In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np
import random as random

# Study data files
education = "Index Education.csv"
education = pd.read_csv(education)
education.head(40)

FileNotFoundError: [Errno 2] File b'Index Education.csv' does not exist: b'Index Education.csv'

In [26]:
#Filter Education Code - School enrollment, primary (% gross)

education = education.loc[education["Indicator Code"] =="SE.PRM.ENRR", :]
education.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
122,Aruba,ABW,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,113.79430,105.25590,104.08710,116.03930,117.1081,NaN,NaN,NaN,NaN,NaN
276,Afghanistan,AFG,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,100.07170,97.64164,103.49240,104.49840,105.9197,105.7785,NaN,102.3105,NaN,NaN
430,Angola,AGO,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,105.78100,119.53010,NaN,NaN,NaN,113.4780,NaN,NaN,NaN,NaN
584,Albania,ALB,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,93.49047,95.00608,97.58513,99.98391,104.1080,105.5430,105.5539,107.0466,106.9934,NaN
738,Andorra,AND,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#Filter Country Code - BRA and MEX
educationBRMX = education.loc[(education["Country Code"] =="MEX") | (education["Country Code"] =="BRA")]
educationBRMX

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4280,Brazil,BRA,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,132.4966,134.5204,113.9198,114.2547,112.7733,113.9454,115.4478,NaN,NaN
23530,Mexico,MEX,"School enrollment, primary (% gross)",SE.PRM.ENRR,NaN,NaN,NaN,NaN,NaN,NaN,...,110.6335,110.5408,110.4135,109.4415,108.0058,106.6061,106.2777,105.7700,NaN,NaN

In [28]:
#Select Columns
df = educationBRMX[["Country Code", "2006","2007","2008","2009","2010","2011","2012", "2013", "2014", "2015", "2016"]]
#df = df.dropna()
df

,Country Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
4280,BRA,NaN,128.17979,132.05521,131.16516,NaN,132.4966,134.5204,113.9198,114.2547,112.7733,113.9454
23530,MEX,108.17477,108.79971,109.42442,110.54528,110.6335,110.5408,110.4135,109.4415,108.0058,106.6061,106.2777

In [29]:
#Transpose columns
new_df = pd.melt(df,id_vars=["Country Code"],value_vars=["2006","2007","2008","2009","2010","2011","2012", "2013", "2014", "2015", "2016"], var_name = "Year",value_name="Education Index")
new_df

   Country Code  Year  Education Index
0           BRA  2006              NaN
1           MEX  2006        108.17477
2           BRA  2007        128.17979
3           MEX  2007        108.79971
4           BRA  2008        132.05521
5           MEX  2008        109.42442
6           BRA  2009        131.16516
7           MEX  2009        110.54528
8           BRA  2010              NaN
9           MEX  2010        110.63350
10          BRA  2011        132.49660
11          MEX  2011        110.54080
12          BRA  2012        134.52040
13          MEX  2012        110.41350
14          BRA  2013        113.91980
15          MEX  2013        109.44150
16          BRA  2014        114.25470
17          MEX  2014        108.00580
18          BRA  2015        112.77330
19          MEX  2015        106.60610
20          BRA  2016        113.94540
21          MEX  2016        106.27770